  <section id="topbar" class="d-flex align-items-center fixed-top topbar-transparent topbar-onscroll">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-center justify-content-lg-start">
      <i class="bi bi-phone d-flex align-items-center"><span>+84 123 456 789</span></i>
      <i class="bi bi-clock ms-4 d-none d-lg-flex align-items-center"><span>Mon-Sun: 9:00 AM - 22:00 PM</span></i>
    </div>
  </section>

  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <div class="logo me-auto">
        <h1><a href="index.html">Pontoon</a></h1>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#bestsellers">Best sellers</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
          <li class="dropdown"><a href="/shop"><span>Shop</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/shop/men">Men</a></li>
              <li><a href="/shop/women">Women</a></li>
              <li><a href="/shop/unisex">Unisex</a></li>
              <li class="dropdown"><a href="/shop/accessory"><span>Accessory</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/shop/accessory/handbag">Handbag</a></li>
                  <li><a href="/shop/accessory/belt">Belt</a></li>
                  <li><a href="/shop/accessory/glass">Glass</a></li>
                  <li><a href="/shop/accessory/shoes">Shoes</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#info">Info</a></li>
          <li><a href="/admin" class="nav-link management-btn">Management</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>