<section id="hero">
  <div class="hero-container">
    <div
      id="heroCarousel"
      data-bs-interval="5000"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <div
          class="carousel-item active"
          style="background-image: url(/assets/img/slide/slide-1.jpg);"
        >
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown"><span
                >Pontoon</span></h2>
              <p class="animate__animated animate__fadeInUp">Discover Pontoon's
                new creations for the home at VietNam Design Week, from April
                19th to 23rd.</p>
              <div>
                <a
                  href="/shop"
                  class="btn-book animate__animated animate__fadeInUp scrollto"
                >Shop now!</a>
              </div>
            </div>
          </div>
        </div>

        <div
          class="carousel-item"
          style="background-image: url(/assets/img/slide/slide-2.jpg);"
        >
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">The origins of
                an icon</h2>
              <p class="animate__animated animate__fadeInUp">With its two
                symmetrical curves, one motif stands out for its simplicity.
                From the original sketch by Robert Dumas to Pierry Hardy’s
                designs, the Chaîne d’Ancre transcends eras, reinvented,
                timeless and always current.</p>
              <div>
                <a
                  href="/shop"
                  class="btn-book animate__animated animate__fadeInUp scrollto"
                >Shop now!</a>
              </div>
            </div>
          </div>
        </div>

        <div
          class="carousel-item"
          style="background-image: url(/assets/img/slide/slide-3.jpg);"
        >
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Seaside
                escapades</h2>
              <p class="animate__animated animate__fadeInUp">Longing to dive
                into the ocean, play hide-and-seek with the sun, or move into
                graphic shade? Brightly colored accessories depict the story of
                summer from the first ray of sunshine.</p>
              <div>
                <a
                  href="/shop"
                  class="btn-book animate__animated animate__fadeInUp scrollto"
                >Shop now!</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <a
        class="carousel-control-prev"
        href="#heroCarousel"
        role="button"
        data-bs-slide="prev"
      >
        <span
          class="carousel-control-prev-icon bi bi-chevron-left"
          aria-hidden="true"
        ></span>
      </a>

      <a
        class="carousel-control-next"
        href="#heroCarousel"
        role="button"
        data-bs-slide="next"
      >
        <span
          class="carousel-control-next-icon bi bi-chevron-right"
          aria-hidden="true"
        ></span>
      </a>

    </div>
  </div>
</section>
<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container-fluid">

      <div class="row">

        <div
          class="col-lg-5 align-items-stretch video-box"
          style='background-image: url("/assets/img/about.jpg");'
        >
          <a
            href="https://www.youtube.com/watch?v=jwpspO5b6tw"
            class="venobox play-btn mb-4"
            data-vbtype="video"
            data-autoplay="true"
          ></a>
        </div>

        <div
          class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch"
        >

          <div class="content">
            <h3>Footsteps across <strong>the world collection</strong></h3>
            <p>
              Pontoon endeavours to create objects that withstand the test of
              time and to forge lasting connections with the surrounding world.
            </p>
            <p class="fst-italic">
              Film and documentary maker Frédéric Laffont, winner of the Albert
              Londres award, brings his humanistic perspective to bear as he
              walks in the house’s footsteps and gives free rein to his camera.
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i>
                Leather workshops at Fitilieu and Val-de-Reuil, France</li>
              <li><i class="bx bx-check-double"></i>
                Saint-Ouen and Paris, France</li>
              <li><i class="bx bx-check-double"></i> London, United-Kingdom</li>
            </ul>
            <p>
              With curiosity awakened, we navigate between stories and
              portraits, carried along by gestures and places, and taking
              discovery to the ends of the earth… Our relationship with
              sustainable development shines through this Footsteps across the
              World collection.
            </p>
          </div>

        </div>

      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Whu Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="section-title">
        <h2>Why choose <span>Pontoon</span></h2>
        <p>Our movements are accompanied by objects in an array of shapes that
          highlight our looks. Graphic accents, colored dots and geometric
          designs bring rhythm and character to a silhouette.</p>
      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="box">
            <span>01</span>
            <h4>Variety</h4>
            <p>A shirt shop offers a wide variety of shirt styles, designs, and
              colors.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box">
            <span>02</span>
            <h4>Quality</h4>
            <p>A shirt shop prides itself on the quality of its shirts, using
              high-quality fabrics and materials.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box">
            <span>03</span>
            <h4> Expertise</h4>
            <p>A shirt shop's knowledgeable staff can provide recommendations
              and guidance, leading to a more positive shopping experience.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Whu Us Section -->

  <!-- ======= Specials Section ======= -->
  <section id="bestsellers" class="specials">
    <div class="container">

      <div class="section-title">
        <h2>Check our <span>Best sellers</span></h2>
        <p>The best selling products in recent months.</p>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a
                class="nav-link active show"
                data-bs-toggle="tab"
                href="#tab-1"
              >April</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">March</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-bs-toggle="tab"
                href="#tab-3"
              >February</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4">January</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-bs-toggle="tab"
                href="#tab-5"
              >December</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Architecto ut aperiam autem id</h3>
                  <p class="fst-italic">Qui laudantium consequatur laborum sit
                    qui ad sapiente dila parde sonata raqer a videna mareta
                    paulona marka</p>
                  <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis
                    atque harum sint. Laborum eos ipsum ipsa odit magni.
                    Incidunt hic ut molestiae aut qui. Est repellat minima
                    eveniet eius et quis magni nihil. Consequatur dolorem
                    quaerat quos qui similique accusamus nostrum rem vero</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="/assets/img/specials-1.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Et blanditiis nemo veritatis excepturi</h3>
                  <p class="fst-italic">Qui laudantium consequatur laborum sit
                    qui ad sapiente dila parde sonata raqer a videna mareta
                    paulona marka</p>
                  <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam
                    omnis quia et reiciendis sunt sunt est. Non aliquid
                    repellendus itaque accusamus eius et velit ipsa voluptates.
                    Optio nesciunt eaque beatae accusamus lerode pakto madirna
                    desera vafle de nideran pal</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="/assets/img/specials-2.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                  <p class="fst-italic">Eos voluptatibus quo. Odio similique
                    illum id quidem non enim fuga. Qui natus non sunt dicta
                    dolor et. In asperiores velit quaerat perferendis aut</p>
                  <p>Iure officiis odit rerum. Harum sequi eum illum corrupti
                    culpa veritatis quisquam. Neque necessitatibus illo rerum
                    eum ut. Commodi ipsam minima molestiae sed laboriosam a iste
                    odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum
                    voluptatem optio quae</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="/assets/img/specials-3.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Fuga dolores inventore laboriosam ut est accusamus
                    laboriosam dolore</h3>
                  <p class="fst-italic">Totam aperiam accusamus. Repellat
                    consequuntur iure voluptas iure porro quis delectus</p>
                  <p>Eaque consequuntur consequuntur libero expedita in
                    voluptas. Nostrum ipsam necessitatibus aliquam fugiat
                    debitis quis velit. Eum ex maxime error in consequatur
                    corporis atque. Eligendi asperiores sed qui veritatis
                    aperiam quia a laborum inventore</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="/assets/img/specials-4.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                  <p class="fst-italic">Omnis blanditiis saepe eos autem qui
                    sunt debitis porro quia.</p>
                  <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae
                    minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum
                    quia odit vero atque qui quibusdam amet. Occaecati sed est
                    sint aut vitae molestiae voluptate vel</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="/assets/img/specials-5.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Specials Section -->

  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">
    <div class="container-fluid">

      <div class="section-title">
        <h2>Some photos from <span>Ponton's customers</span></h2>
        <p>Receive our newsletter and discover our stories, collections, and
          surprises.</p>
      </div>

      <div class="row g-0">

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="/assets/img/gallery/gallery-1.jpg"
              class="gallery-lightbox"
            >
              <img
                src="/assets/img/gallery/gallery-1.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="/assets/img/gallery/gallery-2.jpg"
              class="gallery-lightbox"
            >
              <img
                src="/assets/img/gallery/gallery-2.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="/assets/img/gallery/gallery-3.jpg"
              class="gallery-lightbox"
            >
              <img
                src="/assets/img/gallery/gallery-3.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="/assets/img/gallery/gallery-4.jpg"
              class="gallery-lightbox"
            >
              <img
                src="/assets/img/gallery/gallery-4.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="/assets/img/gallery/gallery-5.jpg"
              class="gallery-lightbox"
            >
              <img
                src="/assets/img/gallery/gallery-5.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="/assets/img/gallery/gallery-6.jpg"
              class="gallery-lightbox"
            >
              <img
                src="/assets/img/gallery/gallery-6.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="/assets/img/gallery/gallery-7.jpg"
              class="gallery-lightbox"
            >
              <img
                src="/assets/img/gallery/gallery-7.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="/assets/img/gallery/gallery-8.jpg"
              class="gallery-lightbox"
            >
              <img
                src="/assets/img/gallery/gallery-8.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Gallery Section -->

  <!-- ======= Location Section ======= -->
  <section id="info" class="menu">
    <div class="container">

      <div class="section-title">
        <h2>Check out our <span>Shops</span></h2>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <li data-filter="*" class="filter-active">Show All</li>
            <li data-filter=".filter-district-1">District 1</li>
            <li data-filter=".filter-district-3">District 3</li>
            <li data-filter=".filter-district-7">District 7</li>
          </ul>
        </div>
      </div>

      <div class="row location-container">

        <div class="col-lg-6 menu-item filter-district-1">
          <div class="menu-content">
            <a href="#">Nowzone Fashion</a><span>9 A.M - 10 P.M</span>
          </div>
          <div class="menu-ingredients">
            235 Nguyễn Văn Cừ, P.Nguyễn Cư Trinh, Quận 1
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-district-7">
          <div class="menu-content">
            <a href="#">Diamond Plaza</a><span>9 A.M - 10 P.M</span>
          </div>
          <div class="menu-ingredients">
            34 Lê Duẩn, P.Bến Nghé, Quận 7
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-district-1">
          <div class="menu-content">
            <a href="#">Central Market</a><span>9 A.M - 10 P.M</span>
          </div>
          <div class="menu-ingredients">
            Số 4 Phạm Ngũ Lão, P.Phạm Ngũ Lão, Quận 1
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-district-3">
          <div class="menu-content">
            <a href="#">Takashimaya</a><span>8 A.M - 11 P.M</span>
          </div>
          <div class="menu-ingredients">
            92-94 Nam Kỳ Khởi Nghĩa, P.Bến Nghé, Quận 3
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-district-7">
          <div class="menu-content">
            <a href="#">Saigon Garden</a><span>8 A.M - 11 P.M</span>
          </div>
          <div class="menu-ingredients">
            Số 99 Nguyễn Huệ, P.Bến Nghé, Quận 7
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-district-1">
          <div class="menu-content">
            <a href="#">Bitexco Tower</a><span>Open all day</span>
          </div>
          <div class="menu-ingredients">
            Số 2 Hải Triều, P.Bến Nghé, Quận 1
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-district-3">
          <div class="menu-content">
            <a href="#">Parkson Saigon</a><span>9 A.M - 10 P.M</span>
          </div>
          <div class="menu-ingredients">
            Số 35 – 45 Lê Thánh Tôn, P.Bến Nghé, Quận 3
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-district-3">
          <div class="menu-content">
            <a href="#">Vincom Đồng Khởi</a><span>9 A.M - 10 P.M</span>
          </div>
          <div class="menu-ingredients">
            Số 72 Lê Thánh Tôn, P.Bến Nghé, Quận 3
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-district-7">
          <div class="menu-content">
            <a href="#">Co.opmart</a><span>7 A.M - 9 P.M</span>
          </div>
          <div class="menu-ingredients">
            189C Cống Quỳnh, P.Nguyễn Cư Trinh, Quận 7
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Menu Section -->

</main><!-- End #main -->
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/assets/js/main.js"></script>