<main id="main vh-100">

    <section class="breadcrumbs py-4">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5 login-img">
            <img src="/assets/img/login-img.png"
            class="img-fluid" alt="Login image">
        </div>
        
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
              <div class="card-body p-4 p-sm-5">
                <h2 class="text-center mb-5 fs-2">Sign In</h2>
                <form action="/validate" method="POST">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="email" value="{{#if messages.email}}{{messages.email}}{{else}}admin@gmail.com{{/if}}">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" autocomplete="" name="password" value="admin">
                    <label for="floatingPassword">Password</label>
                  </div>
    
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                    <label class="form-check-label" for="rememberPasswordCheck">
                      Remember password
                    </label>
                  </div>
                  {{#if messages.error}}
                    <div class="alert alert-danger" role="alert">
                      {{messages.error}}
                    </div>
                  {{/if}}
                  {{#if messages.success}}
                    <div class="alert alert-success" role="alert">
                      {{messages.success}}
                    </div>
                  {{/if}}
                  <div class="d-grid">
                    <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
                      in</button>
                  </div>
                  <hr class="my-4">
                  <div class="d-grid mb-2">
                    <a href="/auth/google" class="btn btn-google btn-login text-uppercase fw-bold btn-outline-dark" type="button">
                      <i class="fab fa-google me-2"></i> Sign in with Google
                    </a>
                  </div>
                  <div class="d-grid">
                    <button class="btn btn-facebook btn-login text-uppercase fw-bold" type="button" disabled>
                      <i class="fab fa-facebook-f me-2"></i> Sign in with Facebook
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>

  </main>